In [1]:
from itertools import product

In [4]:
a = [1,2]
b = [3,4]
prod = product(a,b) #cartesian produt of the input iterables
list(prod)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [7]:
c = [5]
prod = product(a,c, repeat = 2)
list(prod)

[(1, 5, 1, 5), (1, 5, 2, 5), (2, 5, 1, 5), (2, 5, 2, 5)]

In [8]:
from itertools import permutations

In [9]:
a = [1,2,3]
perm = permutations(a)
list(perm)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [10]:
perm = permutations(a, 2)
list(perm)

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [11]:
from itertools import combinations

In [12]:
a = [1,2,3,4]
comb = combinations(a,2)
list(comb)

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [13]:
from itertools import combinations_with_replacement

In [15]:
comb_wr = combinations_with_replacement(a, 2)
list(comb_wr)

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 3),
 (3, 4),
 (4, 4)]

In [16]:
from itertools import accumulate

In [19]:
a = [1,2,3,4]
acc = accumulate(a) #by default it will compute the accumulated sum
print(a)
list(acc)

[1, 2, 3, 4]

[1, 3, 6, 10]

In [20]:
import operator

In [23]:
acc = accumulate(a, func=operator.mul)
print(a)
list(acc)

[1, 2, 3, 4]

[1, 2, 6, 24]

In [25]:
a = [1,2,5,3,4]
acc = accumulate(a, func=max)
print(a)
list(acc)

[1, 2, 5, 3, 4]

[1, 2, 5, 5, 5]

In [26]:
from itertools import groupby

In [31]:
a = [1,2,3,4]
group_obj = groupby(a,key= lambda x: x<3)
for key,value in group_obj:
    print(key,list(value))

True [1, 2]
False [3, 4]

In [32]:
persons = [{'name': 'Tim', 'age':25}, {'name':'Dan', 'age':25}, {'name':'Lisa', 'age':27}, {'name': 'Claire', 'age':28}]

In [34]:
group_obj = groupby(persons, key = lambda x: x['age'])
for key,value in group_obj:
    print(key,list(value))

25 [{'name': 'Tim', 'age': 25}, {'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

In [35]:
from itertools import count, cycle, repeat

In [36]:
for i in count(10):
    print(i)
    if i==15:
        break

10
11
12
13
14
15

In [37]:
a = [1,2,3]
ctr = 0
for i in cycle(a):
    print(i)
    ctr +=1
    if ctr == 6:
        break

1
2
3
1
2
3

In [38]:
for i in repeat(1, 4):
    print(i)

1
1
1
1